extends ../layouts/default

block content
  .jumbotron
    h1 jackkitteの勉強部屋
    p このサイトはjavascriptの勉強用に立ち上げたブログです。Node.js製のCMS「KeystoneJS」で作りました。こちらのサイトをいじりながらjavacriptの勉強をしていこうかなと思っております。また、javascript以外の技術的内容についても書き記したいと思います。
    a(href='https://github.com/jackkitte/KeystoneJS_add_Portfolio', target='_blank', title='View on GitHub').btn.btn-lg.btn-primary View on GitHub

  .row
    .col-sm-8
      h3: a(href='/blog') Blog
      p ブログのページになります。技術的な内容を書き記していこうかと思います。
      hr
      h3: a(href='/works') Works
      p ポートフォリオのページになります。実際に自作した作品を上げていこうかと思います。
      hr
      h3: a(href='/announcement') Announcement
      p 勉強用に作成したページになります。折角なので、今後何かしらのイベント毎があったりしたら、こちらにアナウンスしようかと考えていたりしてます。
